.btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  /* Add a background color on hover */
  .btn-group :hover {
    background-color: #ffffff;
    color: #a30506;
  }
  
  .allcourses{
    margin-left: 300px;
  }
  
  .btn-group button {
    margin-right: 10px;
    background-color: rgb(163, 5, 6); /* Green background */
    border: 1px solid rgb(163, 5, 6); /* Green border */
    color: rgb(255, 255, 255); /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 30px;
    padding-right: 30px;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }